body {
    background: url("https://media.giphy.com/media/q1rY9TjLgvtK/giphy.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
}
